body{
    font-family: -apple-system, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3",BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
    .uk-button i{
        padding-left: 10px;
    }

    .tm-button-default, .tm-button-primary{
        border-radius: 100px !important;
    }
    [hidden], .uk-hidden {
        display: none !important;
    }
    .uk-section-primary{
        background: #8ec0ff;
    }
    .uk-container {
        display: flow-root;
        box-sizing: content-box;
        max-width: 1380px;
        margin-left: auto;
        margin-right: auto;
    }
    .uk-offcanvas-bar{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -270px;
        box-sizing: border-box;
        width: 270px;
        padding: 20px 20px;
        background: #fff;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .uk-nav-header{
            padding: 8px 0;
            border-bottom: 1px solid #e5e5e5;
            color: #222 !important;
            margin-bottom: 12px;
        }
        a{
            color: #999 !important;
        }
    }
    #offcanvas{
        a{
            padding-left: 24px;
            i{
                margin-left: -24px;
                width: 24px;
            }
        }
    }
}


.uk-navbar{
    .uk-navbar-left{
        img{
            height: 30px;
        }
    }
}
