#footer.uk-section-small
  .uk-container.uk-container-expand.uk-text-center.uk-position-relative
    ul.uk-subnav.tm-subnav.uk-flex-inline.uk-flex-center.uk-margin-remove-bottom
      li.uk-first-column
        span.uk-text-lowercase mahiro oka / website

      li: a(href="/")
        span.uk-text-lowercase
          |&copy; #{new Date().getFullYear()} deeta.net
      li
        a.uk-text-lowercase(href="https://twitter.com/sesere115" target="_blank")
          i.fab.fa-twitter
          span sesere115
